@import "~variables.scss";

.price {
    font-weight: bold;
    font-size: 1.3rem;
}

.error {
    color: mat-color($byoth-warn);
}

button {
    margin-top: 1rem;
    margin-right: 0.5rem;
}

mat-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    padding-top: 0px;
    padding-bottom: 90px;
    width:100%;
    background: mat-color($byoth-accent);
    text-align: center;
    //z-index: 100;
    color: white;
    .price-label {
        text-align: right;
    }
    .price-value {
        text-align: left;
    }
}

mat-card > div.row {
    margin-bottom: 1rem;
}

