<form [formGroup]="form" *ngIf="form">
    <h2 i18n="@@thesis.order">Bestilling</h2>
    <p i18n="@@order.description" *ngIf="isFinal">
        På denne siden kan du bestille trykking av avhandling.
        Hvert fakultet/institutt har en grense for hvor mange eksemplarer som dekkes.
        Vi anbefaler at du finner ut hva som er kostnadsgrensen ved ditt fakultet/institutt før bestilling.
    </p>
    <div class="form-block">
        <div class="form-block-description">
            <h3 i18n="@@order.numberAndQuality">Antall og kvalitet</h3>
            <p *ngIf="isFinal" i18n="@@order.numberAndQuality.description.final">
                Antall kopier inkluderer de 8 eksemplarer som pliktavleveres til Universitetsbiblioteket i Bergen og til Nasjonalbiblioteket.
                Hvis du vil ha for eksempel 20 kopier til disputas må du velge 28 kopier her.
            </p>
            <p *ngIf="!isFinal" i18n="@@order.numberAndQuality.description.evaluation">
                For de fakultetene som sender ut trykte versjoner av avhandlingen til komiteen, finnes det en norm for hvor mange eksemplarer som skal trykkes opp.
                Finn ut hva som er normert antall ved ditt fakultet.
            </p>
        </div>
        <div class="form-block-form">
            <mat-card formGroupName="offer">
                <div class="row align-items-center">
                    <mat-form-field class="col-6 col-md-3">
                        <input matInput
                            type="number"
                            formControlName="quantity"
                            placeholder="Antall kopier"
                            i18n-placeholder="@@order.quantity"
                            aria-label="Antall kopier"
                            i18n-placeholder="@@order.quantity"
                            [min]="mandatoryCopies + 1"
                            required>
                    </mat-form-field>
                    <mat-radio-group class="col-12" formControlName="printColor">
                        <mat-radio-button [value]="false" i18n="@@order.printBW">
                            Kun sort/hvitt.
                        </mat-radio-button>
                        <mat-radio-button [value]="true" i18n="@@order.printColor">
                            Fargesider trykkes i farger.
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="form-block">
        <div class="form-block-description">
            <h3 i18n="@@order.contact">Kandidatens kontaktinformasjon</h3>
        </div>
        <div class="form-block-form">
            <mat-card formGroupName="customer">
                <div class="row">
                    <mat-form-field class="col-lg-4 col-sm-6">
                        <input matInput
                            type="text"
                            formControlName="name"
                            placeholder="Navn"
                            i18n-placeholder="@@customer.name"
                            aria-label="Name"
                            i18n-aria-label="@@customer.name" required>
                    </mat-form-field>
                    <mat-form-field class="col-lg-5 col-sm-6">
                        <input matInput
                            type="text"
                            formControlName="email"
                            placeholder="E-post"
                            i18n-placeholder="@@customer.email"
                            aria-label="E-post"
                            i18n-aria-label="@@customer.email" required>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3 col-sm-6">
                        <input matInput
                            type="text"
                            formControlName="telephone"
                            placeholder="Telefon"
                            i18n-placeholder="@@customer.telephone"
                            aria-label="Telefon"
                            i18n-aria-label="@@customer.telephone" required>
                    </mat-form-field>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="form-block">
        <div class="form-block-description">
            <h3 i18n="@@order.delivery">Leveranse</h3>
            <p *ngIf="isFinal" i18n="@@order.delivery.description1">Instituttet som administrerer din ph.d.-utdanning er satt opp som mottaksadresse for de eksemplarene som skal gå til disputaslokalet. Mottaksadressen for et eventuelt prøvetrykkeksemplar er valgfri.</p>
            <p *ngIf="!isFinal" i18n="@@order.delivery.description1.evaluation">Vennligst fyll ut adressen du ønsker at eksemplarene skal sendes til.</p>
            <p i18n="@@order.delivery.description2">Leveringstid vil variere ut ifra hva slags fil-materiell trykkeriet mottar og hvor fort vi mottar tilbakemelding på prøvetrykket. Produksjonstid fra godkjent prøvetrykk er 5 arbeidsdager. Ved kortere leveringstid tilkommer pristillegg.</p>
        </div>
        <div class="form-block-form">
            <mat-card class="form-block-form">
                <app-order-address [service]="service" type="address" class="row"></app-order-address>
            </mat-card>
        </div>
    </div>
    <div class="form-block" *ngIf="isFinal">
        <div class="form-block-description">
            <h3 i18n="@@order.printedProofs">Prøvetrykk</h3>
            <p i18n="@@order.printedProofs.description">Prøvetrykk gir mulighet til å kvalitetssikre riktig gjengivelse på trykk. Det tilkommer en ekstra kostnad ved prøvetrykk. Hvis du ikke bestiller prøvetrykk vil du få tilsendt en PDF-fil på e-post for korrektur.</p>
        </div>
        <div class="form-block-form">
            <mat-card>
                <div class="row" formGroupName="offer">
                    <mat-checkbox class="col-12"
                        formControlName="printProofs"
                        i18n="@@order.iWantPrintedProofs">
                        Jeg ønsker prøvetrykk
                    </mat-checkbox>
                    <mat-checkbox class="col-12"
                        [checked]="wantSeparateProofAddress | async"
                        (change)="toggleProofAddress($event)"
                        i18n="@@order.proof.otherAddress">
                        Send prøvetrykk til en annen adresse
                    </mat-checkbox>
                </div>
                <app-order-address *ngIf="wantSeparateProofAddress | async" [service]="service" type="proofAddress" class="row"></app-order-address>
            </mat-card>
        </div>
    </div>
    <div class="form-block">
        <div class="form-block-description">
            <h3 i18n="@@order.comments.header">Kommentarer</h3>
            <p i18n="@@order.comments.description">Skriv eventuelle kommentarer til trykkeriet her.</p>
        </div>
        <div class="form-block-form">
            <mat-card>
                <mat-form-field formGroupName="delivery">
                    <textarea matInput formControlName="description" aria-label="Kommentarer" i18n-aria-label="@@order.comments"></textarea>
                </mat-form-field>
            </mat-card>
        </div>
    </div>
</form>
