<form *ngIf="form" [formGroup]="form" class="row">
    <mat-form-field class="col-sm-6">
        <input matInput [matDatepicker]="eventDatepicker"
            formControlName="date"
            placeholder="Dato"
            i18n-placeholder="@@event.date"
            required
            readonly>
        <mat-datepicker-toggle matSuffix [for]="eventDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #eventDatepicker startView="year" [disabled]="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-sm-3" *ngIf="showTime">
        <input matInput
            type="text"
            formControlName="startTime"
            placeholder="Start"
            i18n-placeholder="@@event.start">
        <mat-hint>HH:MM</mat-hint>
    </mat-form-field>
    <mat-form-field class="col-sm-3" *ngIf="showTime">
        <input matInput
            type="text"
            formControlName="endTime"
            placeholder="Slutt"
            i18n-placeholder="@@event.end">
        <mat-hint>HH:MM</mat-hint>
    </mat-form-field>
</form>
