<form [formGroup]="form">
    <div class="form-block">
        <div class="form-block-description">
            <h3 i18n="@@thesis.options">Språk, type og format</h3>
        </div>
        <div class="form-block-form">
            <mat-card>
                <div class="row">
                    <mat-form-field class="col-md-6 col-lg-3">
                        <mat-select formControlName="language" required placeholder="Avhandlingsspråk" i18n-placeholder="@@thesis.language">
                            <mat-optgroup label="Vanligste" i18n-placeholder="@@language.mostCommon">
                                <mat-option value="nb">Bokmål</mat-option>
                                <mat-option value="nn">Nynorsk</mat-option>
                                <mat-option value="en">English</mat-option>
                            </mat-optgroup>
                            <mat-optgroup label="Andre" i18n-placeholder="@@language.other">
                                <mat-option *ngFor="let lang of otherLanguages" [value]="lang.code">{{ lang.name }} ({{ lang.nativeName }})</mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-3">
                        <mat-select formControlName="thesisType" required placeholder="Type avhandling" i18n-placeholder="@@thesis.type">
                            <mat-option [value]="collectionThesis" i18n="@@thesis.articleBased">Artikkelbasert</mat-option>
                            <mat-option [value]="monographThesis" i18n="@@thesis.monograph">Monografi</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-3">
                        <mat-select formControlName="degreeType" required placeholder="Type grad" i18n-placeholder="@@thesis.degreeType">
                            <mat-option [value]="phd">Ph.d</mat-option>
                            <mat-option [value]="drPhilos">Dr. Philos</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6 col-lg-3">
                        <mat-select formControlName="printFormat" required placeholder="Format" i18n-placeholder="@@thesis.printFormat">
                            <mat-option [value]="b17x24">17x24</mat-option>
                            <mat-option [value]="a4">A4</mat-option>
                        </mat-select>
                        <mat-hint *ngIf="form.get('printFormat').value === a4" i18n="@@thesis.format.warnA4" class="hint">Avhandlinger skal bare unntaksvis trykkes i A4</mat-hint>
                    </mat-form-field>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="form-block" *ngIf="hasISBN">
        <div class="form-block-description">
            <h3>ISBN</h3>
            <p i18n="@@thesis.isbn.description">
                Avhandlingen må ha et ISBN-nummer.
                Ved å klikke her reserverer du et nummer fra UiBs offisielle liste.
                Bare gjør det hvis du faktisk skal trykke avhandlingen.
            </p>
        </div>
        <div class="form-block-form">
            <mat-card>
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <button mat-raised-button color="primary" [disabled]="!!isbn" (click)="assignISBN()" i18n="@@thesis.isbn.assign">Hent ISBN</button>
                    </div>
                    <mat-form-field class="col-sm-4">
                        <input matInput type="text" formControlName="isbn" placeholder="ISBN" required i18n="@@thesis.isbn" readonly>
                    </mat-form-field>
                    <div class="col-sm-3" *ngIf="devmode && !!isbn">
                        <button mat-raised-button color="warn" (click)="unassignISBN()" i18n="@@thesis.isbn.unassign">Frigjør ISBN</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="form-block">
        <div class="form-block-description">
            <h3 i18n="@@thesis.title">Tittel</h3>
            <p *ngIf="isFinal" i18n="@@thesis.title.shouldNotChange">
                Tittel og undertittel skal være identisk med det som ble godkjent av komiteen.
            </p>
            <p i18n="@@thesis.title.description">
                Tittelfeltene støtter de fleste spesialtegn.
                Hvis forhåndsvisning av omslaget ikke viser riktig tittel, fullfør bestillingen og send tittelen til trykkeri på e-post.
            </p>
        </div>
        <div class="form-block-form">
            <mat-card>
                <mat-form-field>
                    <input matInput type="text" formControlName="title" placeholder="Tittel" required i18n-placeholder="@@thesis.title">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="subtitle" placeholder="Undertittel" i18n-placeholder="@@thesis.subtitle">
                </mat-form-field>
            </mat-card>
        </div>
    </div>
    <div class="form-block">
        <div class="form-block-description">
            <h3 i18n="@@thesis.abstract">Abstract</h3>
            <p i18n="@@thesis.abstract.description">
                Det skal følge et engelsk abstract (sammendrag) som vedlegg til avhandlingen.
                Det er mulig å legge til abstract på flere språk.
            </p>
        </div>
        <div class="form-block-form">
            <mat-card *ngFor="let lang of abstractLanguages" class="abstract-form">
                <div class="abstract-header">
                    <h3>{{getLangDescription(lang)}} abstract</h3>
                    <div *ngIf="lang !== 'en'">
                        <button mat-icon-button color="warn" (click)="removeAbstract(lang)" aria-label="Slett abstract" i18n-aria-label="@@thesis.abstract.delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div>
                    <app-thesis-abstract [service]="container.thesis" [lang]="lang"></app-thesis-abstract>
                </div>
            </mat-card>
            <mat-card [ngClass]="{notFirstAbstract: abstractCount > 0}" class="abstract-form">
                <h3 i18n="@@thesis.abstract.addLanguages">Legg til abstract på andre språk</h3>
                <div class="row align-items-center">
                    <mat-form-field class="col-sm-4">
                        <mat-select [(value)]="newAbstractLanguage" required placeholder="Velg språk" i18n-placeholder="@@abstract.language">
                            <mat-optgroup label="Vanligste" i18n-placeholder="@@language.mostCommon">
                                <mat-option value="nb" *ngIf="!hasAbstractLanguage('nb')">Bokmål</mat-option>
                                <mat-option value="nn" *ngIf="!hasAbstractLanguage('nn')">Nynorsk</mat-option>
                                <mat-option value="en" *ngIf="!hasAbstractLanguage('en')">English</mat-option>
                            </mat-optgroup>
                            <mat-optgroup label="Andre" i18n-placeholder="@@language.other">
                                <mat-option *ngFor="let lang of unusedOtherAbstractLanguages" [value]="lang.code">{{ lang.name }} ({{ lang.nativeName }})</mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                    <div class="col-sm-4">
                        <button mat-raised-button color="primary" [disabled]="!newAbstractLanguage" (click)="addAbstract()" i18n="@@thesis.abstract.add">
                            Legg til abstract
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</form>
