@import "~variables.scss";

.hint {
    color: mat-color($byoth-accent);
}

.notFirstAbstract {
    margin-top: 0.5rem
}

mat-card.abstract-form {
    height: auto;
}

.abstract-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.abstract-header button {
    height: 32px;
}

