<div class="col-12" [formGroup]="form">
    <div class="row">
        <mat-form-field class="col-sm-12 col-lg-8">
            <input matInput
                type="text"
                formControlName="name"
                placeholder="Sted/Avdeling/Person"
                i18n-placeholder="@@address.department"
                aria-label="Sted/Avdeling/Person"
                i18n-aria-label="@@address.department" required>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-sm-12 col-lg-8">
            <input matInput
                type="text"
                formControlName="streetAddress"
                placeholder="Gateadresse"
                i18n-placeholder="@@address.street"
                aria-label="Gateadresse"
                i18n-aria-label="@@address.street" required>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col-sm-4 col-lg-2">
            <input matInput
                type="text"
                formControlName="postalCode"
                placeholder="Postkode"
                i18n-placeholder="@@address.postalCode"
                aria-label="Postkode"
                i18n-aria-label="@@address.postalCode" required>
        </mat-form-field>
        <mat-form-field class="col-sm-8 col-lg-6">
            <input matInput
                type="text"
                formControlName="city"
                placeholder="Sted"
                i18n-placeholder="@@address.city"
                aria-label="Sted"
                i18n-aria-label="@@address.city" required>
        </mat-form-field>
    </div>
</div>
