<ng-container [ngSwitch]="getType()">
    <mat-form-field *ngSwitchCase="'Journal'">
        <input matInput type="text" [formControl]="form" placeholder="Tidsskrift" i18n-placeholder="@@article.journal">
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'Book'">
        <input matInput type="text" [formControl]="form" placeholder="Boktittel" i18n-placeholder="@@article.bookTitle">
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'Proceedings'">
        <input matInput type="text" [formControl]="form" placeholder="Konferansetittel" i18n-placeholder="@@article.proceedingsTitle">
    </mat-form-field>
</ng-container>
