<div class="row align-items-center justify-content-center doi">
    <div class="col-md">
        <p class="text-md-right">Digital object identifier (DOI)</p>
    </div>
    <mat-form-field class="col-md mb-2" (keyup.enter)="fetchReference()" [formGroup]="form">
        <input matInput type="text" formControlName="doi">
        <mat-icon matSuffix *ngIf="!fetchingDoi && doiSuccess" color="primary">check</mat-icon>
        <mat-icon matSuffix *ngIf="!fetchingDoi && doiError" color="warn">error</mat-icon>
        <mat-spinner *ngIf="fetchingDoi"
            matSuffix
            diameter="20"
            [color]="doiError ? 'warn' : 'primary'"
            [mode]="doiError ? 'determinate' : 'indeterminate'">
        </mat-spinner>
    </mat-form-field>
    <div class="col-md">
        <button mat-raised-button
            (click)="fetchReference()"
            (keyup.enter)="null"
            class="mb-2"
            i18n="@@article.doi.fillOutForm"><mat-icon class="mr-1" aria-hidden="true">input</mat-icon> Fyll ut skjemaet</button>
    </div>
</div>
