<h2 i18n="@@articles">Artikler i avhandlingen</h2>
<ng-container i18n="@@articles.description">
    <p>
        UiB ønsker at flest mulig artikler deponeres i BORA og mange finansieringskilder krever at artikler gjøres åpent tilgjengelige.
    </p>
    <p>
        Her kan du legge inn referanse til de enkelte artiklene og ta stilling til om de skal deponeres til BORA.
        Du kan lagre og komme tilbake senere for å fylle ut mer.
        På grunn av lisensbegrensninger kan ikke alltid hele avhandlinger legges ut i BORA.
    </p>
    <p>
        Universitetsbiblioteket vil alltid verifisere at utgiver tillater deponering i BORA før noe legges ut.
        Hvis du vil finne ut hvilke betingelser som gjelder for en gitt utgiver, kan du bruke databasen <a href="http://www.sherpa.ac.uk/romeo/index.php" target="_blank">SHERPA/RoMEO</a>.
        Bruk gjerne den for å finne ut av hvilken versjon av artikkelen som kan deponeres.
    </p>
</ng-container>
<h3 i18n="@@article.concepts">Noen begreper</h3>
<ul>
    <li i18n="@@article.concepts.unpublished">
        <em>Ikke publisert</em> brukes kun for artikler som enten ikke er sendt inn for utgivelse (manuskript), eller sendt inn men ikke akseptert (preprint).
        Hvis artikkelen er en preprint som i ettertid er akseptert eller publisert, velg <em>Tidsskriftsartikkel</em> og så <em>Preprint</em> i skjemaet.
        Samme lisens vil gjelde for artikkelen som for hele avhandlingen.
    </li>
    <li i18n="@@article.concepts.preprint">
        <em>Preprint</em>: Den versjonen du sendte inn til publisering, før fagfellevurdering. Denne kan ofte legges ut.
    </li>
    <li i18n="@@article.concepts.postprint">
        <em>Akseptert versjon/postprint</em>: Dette er den siste fagfellevurderte versjonen som du sender til utgiver før deres formatering og publisering. Denne kan ofte legges ut med eller uten embargo.
    </li>
    <li i18n="@@article.concepts.publishersVersion">
        <em>Publisert versjon</em>: Den versjonen som blir publisert av utgiver, med utgivers formatering. Denne kan som oftest ikke legges ut. Open Access-artikler kan legges ut i publisert versjon.
    </li>
</ul>
<p i18n="@@articles.getCoauthorPermissions">
    Før du deponerer upubliserte manuskripter må du innhente tillatelse fra medforfattere.
</p>

<mat-accordion>
    <ng-container *ngFor="let articleService of services">
        <app-article [service]="articleService" (articleDeleted)="delete(articleService)"></app-article>
    </ng-container>
</mat-accordion>
<button mat-raised-button
    color="primary"
    (click)="addArticle()">
    <ng-container *ngIf="services?.length > 0"
        i18n="@@articles.add">
        Legg til ny artikkel
    </ng-container>
    <ng-container *ngIf="!services || services.length === 0"
        i18n="@@articles.openForm">
        Åpne skjema
    </ng-container>
</button>

