/* You can add global styles to this file, and also import other style files */

@import "~variables.scss";

body {
    margin: 0;
}

.wrap-label {
    white-space: normal
}

.float-left {
    float: left;
}

.text-right {
    text-align: right;
}

div.container {
    margin-top: 1rem;
}

.mat-form-field {
    width: 100%;
}

mat-radio-button {
    margin-bottom: 0.5rem;
}

.mat-snack-bar-container.error {
    color: orange;
}

.mat-card {
    margin-bottom: 0.5rem;
    /*border: 2px solid rgba(0,0,0,0);*/
}

mat-card.error {
    border-color: mat-color($byoth-warn);
}

.mat-card p {
    padding-bottom: 0.7rem;
}

mat-icon.error {
    color: mat-color($byoth-warn);
}

// we can't style the component because the text is generated from markdown
#welcome-contents {
    section {
        border-bottom: 2px solid #f5f5f5;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        padding-top: 1rem
    }
}

.aligned-with-icon {
    display: flex;
    align-items: center;
}

.aligned-with-icon mat-icon {
    margin-right: 0.3rem;
}

.form-block {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: stretch;
}

.form-block-description {
    flex: 1 1;
    min-height: 95px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    border-radius: 2px 0px 0px 2px;
    padding: 0.8rem;
}

.form-block-form {
    flex: 2;
}

.form-block-description h3 {
    border-bottom: 1px solid;
}

.form-block.disabled {
    color: rgba(0, 0, 0, 0.38); /* copied from Material. TODO: Access from theme instead. */
}

.wrap-label {
    white-space: normal
}

@media all and (min-width: 601px) {
    .form-block-description {
        background-color: #f5f5f5;
        transition: background-color 0.3s ease;
        box-shadow: 2px 3px 1px -2px rgba(0,0,0,0.2);
        margin-right: -40px;
        padding-right: 50px;
    }

    .form-block:focus-within {
        .form-block-description {
            background-color: #eae6e2;
            transition: background-color 0.3s ease;
        }
    }
}

.form-block mat-card {
    height: 100%;
}

@media all and (max-width: 900px) {
    .form-block-description {
        flex: 2;
    }

    .form-block-form {
        flex: 3;
    }
}

@media (max-width: 600px) {
    .form-block {
        display: block;
        margin-top: 1rem;
    }

    .form-block-description {
        flex: none;
        min-height: 0;
        width: 100%;
        display: block;
        margin: 0;
        padding: 0px;
    }

    .form-block-form {
        flex: none;
        width: 100%;
    }
}

// adapted from https://github.com/angular/material2/issues/8365
@media (max-width: 479px) {
  .mat-horizontal-stepper-header .mat-step-icon, .mat-horizontal-stepper-header .mat-step-icon-not-touched {
    margin-right: 0 !important;
  }
  .mat-step-label {
    display: none !important;
  }
  .mat-stepper-horizontal-line {
    min-width: 0px !important;
  }
}

