@import '~@angular/material/theming';

$uib-red: (
    50 : #f9e8e7,
    100 : #f1c5c4,
    200 : #e79e9d,
    300 : #dd7775,
    400 : #d65958,
    500 : #cf3c3a,
    600 : #ca3634,
    700 : #c32e2c,
    800 : #bd2725,
    900 : #b21a18,
    A100 : #ffe6e6,
    A200 : #ffb4b3,
    A400 : #ff8180,
    A700 : #ff6867,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$uib-purple-accent: (
    50 : #e0eff3,
    100 : #b3d6e2,
    200 : #80bbcf,
    300 : #4d9fbb,
    400 : #268bad,
    500 : #00769e,
    600 : #006e96,
    700 : #00638c,
    800 : #005982,
    900 : #004670,
    A100 : #d0cac2,
    A200 : #8d5f8f,
    A400 : #00769e,
    A700 : #24394d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$uib-blue-accent: (
    50 : #f1f5ed,
    100 : #dce6d1,
    200 : #c5d5b3,
    300 : #adc495,
    400 : #9cb87e,
    500 : #8aab67,
    600 : #82a45f,
    700 : #779a54,
    800 : #6d914a,
    900 : #5a8039,
    A100 : #d1e9e9,
    A200 : #5baec5,
    A400 : #00769e,
    A700 : #24394d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$byoth-warn: mat-palette($uib-red);
$byoth-accent: mat-palette($uib-blue-accent, A200, A100, A400);
$byoth-primary: mat-palette($uib-purple-accent, A200, A100, A400);

$byoth-light-grey: #eae6e2;
$byoth-green: #8aab67;
$byoth-yellow: #dbbf48;
$byoth-red: #cf3c3a;
