<div class="form-block">
    <div class="form-block-description">
        <h3 i18n="@@pressRelease.defense">Disputas</h3>
     </div>
     <mat-card class="form-block-form">
        <app-event [service]="container.defense"></app-event>
    </mat-card>
</div>
<div class="form-block">
    <div class="form-block-description">
        <h3 i18n="@@pressRelease.trialLecture">Prøveforelesning</h3>
    </div>
    <mat-card class="form-block-form">
        <app-event [service]="container.trialLecture" [hasTitle]="true"></app-event>
    </mat-card>
</div>
