<div class="form-block">
    <div class="form-block-description">
        <h3 i18n="@@article.typeAndVersion">Type og versjon</h3>
    </div>
    <mat-card class="form-block-form" [formGroup]="form">
        <div class="row">
            <mat-form-field class="col-sm-8">
                <mat-label [ngClass]="{focus: !form.get('articleType').value}" i18n="@@article.type">Type publikasjon</mat-label>
                <mat-select formControlName="articleType" required>
                    <mat-option [value]="unpublished" i18n="@@article.notPublished">Ikke publisert</mat-option>
                    <mat-option [value]="journalArticle" i18n="@@article.journalArticle">Tidsskriftsartikkel</mat-option>
                    <mat-option [value]="proceedingsArticle" i18n="@@aritcle.proceedingsArticle">Konferanseartikkel</mat-option>
                    <mat-option [value]="bookChapter" i18n="@@article.bookChapter">Bokkapittel</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('articleType').touched && form.get('articleType').invalid" i18n="@@form.required">Obligatorisk</mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-8" [formGroup]="form">
                <mat-label i18n="@@article.version">Versjon</mat-label>
                <mat-select formControlName="version" required>
                    <mat-option [value]="manuscript" i18n="@@article.manuscript" *ngIf="!isPublished">Manuskript</mat-option>
                    <mat-option [value]="preprint" i18n="@@article.preprint">Din versjon før fagfellevurdering (preprint)</mat-option>
                    <mat-option [value]="postprint" i18n="@@article.postprint" *ngIf="isPublished">Din aksepterte versjon (postprint)</mat-option>
                    <mat-option [value]="publishersVersion" i18n="@@article.publishersVersion" *ngIf="isPublished">Utgivers endelige versjon</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
</div>
