@import "~variables.scss";

label.focus {
    font-weight: bold;
}

.mat-expansion-panel-header {
    display: flex;
    flex-basis: 50%;
}

.mat-expansion-panel-header-title {
    flex-basis: 50%;
}

.mat-expansion-panel-header-description {
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    margin: 0;
    align-items: center;
    .mat-icon {
        margin-left: 0.7rem;
    }
}

.invalid, .invalid mat-panel-title {
   color: mat-color($byoth-warn);
}


.mat-action-row > button {
    margin-left: 0.5rem;
}

@media (max-width: 900px) {
    .mat-expansion-panel-header-title {
        flex-basis: 60%;
    }
    .mat-expansion-panel-header-description {
        flex-basis: 40%;
        justify-content: flex-end;
    }
}
