<mat-expansion-panel [expanded]="isOpen" (opened)="open()" (closed)="close(); saveLocal()" [hideToggle]="true">
    <mat-expansion-panel-header *ngIf="article" [ngClass]="{invalid: invalid}">
        <mat-panel-title *ngIf="article.title">{{ article.title | slice:0:60 }}{{article.title.length > 60 ? '...' : ''}}</mat-panel-title>
        <mat-panel-title *ngIf="!article.title" i18n="@@article.fillOutForm">[Fyll ut skjemaet]</mat-panel-title>
        <mat-panel-description>
            <div class="d-none d-sm-block">
                {{ article.authors && article.authors[0]?.name}}<ng-container *ngIf="article.authors && article.authors.length > 1">, {{ article.authors[1]?.name }}</ng-container>
                <ng-container *ngIf="article.authors && article.authors.length > 2">&nbsp;et al.</ng-container>
                <ng-container *ngIf="article.publicationYear">&nbsp;({{article.publicationYear}})</ng-container>
            </div>
            <div>
                <mat-icon>create</mat-icon>
                <mat-icon mat-icon-button color="warn" (click)="$event.stopPropagation(); delete()" i18n-aria-label="@@article.delete">delete</mat-icon>
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Using a form element here would give hard to control behavior for the enter button -->
    <div (keyup.enter)="save()" (submit)="save()">
        <app-article-type [service]="service"></app-article-type>
        <app-article-reference [service]="service"></app-article-reference>
        <app-article-license [service]="service"></app-article-license>
        <app-article-file [service]="service" *ngIf="canBeUploaded"></app-article-file>
    </div>

    <mat-action-row>
        <button mat-button color="warn" (click)="delete()" i18n-aria-label="@@article.delete">Slett</button>
        <button mat-raised-button color="primary" (click)="saveLocal()" i18n="@@article.finish">Fullfør</button>
    </mat-action-row>
</mat-expansion-panel>

