<form [formGroup]="form" class="form-block">
    <div class="form-block-description">
        <h3 i18n="@@candidate.name">Kandidatens navn</h3>
        <p>
            <span *ngIf="isFinal" i18n="@@candidate.name.shouldBeTheSame">Navn skal være det samme som på den versjonen av avhandlingen som ble godkjent av bedømmelseskomiteen. </span>
            <span *ngIf="!isFinal" i18n="@@candidate.name.fetchedAutomatically">Navn hentes automatisk fra UiB sine systemer. </span>
            <span i18n="@@candidate.name.change">Endre fornavn og etternavn manuelt, hvis nødvendig.</span>
        </p>
    </div>
    <div class="form-block-form">
        <mat-card>
            <div class="row">
                <div class="col-sm">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Fornavn" i18n-placeholder="@@candidate.givenName" formControlName="givenName" required>
                        <mat-error *ngIf="form.get('givenName').invalid" i18n="@@form.required">Obligatorisk</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Etternavn" i18n-placeholder="@@candidate.familyName" formControlName="familyName" required>
                        <mat-error *ngIf="form.get('familyName').invalid" i18n="@@form.required">Obligatorisk</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
    </div>
</form>
