<div class="form-block">
    <div class="form-block-description">
        <h3>Personalia</h3>
    </div>
    <mat-card class="form-block-form">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Fornavn" i18n-placeholder="@@candidate.givenName" formControlName="givenName" required>
                        <mat-error *ngIf="form.get('givenName').invalid" i18n="@@form.required">Obligatorisk</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Etternavn" i18n-placeholder="@@candidate.familyName" formControlName="familyName" required>
                        <mat-error *ngIf="form.get('familyName').invalid" i18n="@@form.required">Obligatorisk</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <mat-form-field>
                        <input matInput [matDatepicker]="birthDatepicker"
                                        formControlName="birthDate" placeholder="Fødselsdato" i18n-placeholder="@@candidate.birthDate" required>
                        <mat-datepicker-toggle matSuffix [for]="birthDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #birthDatepicker [startAt]="form.get('birthDate').value || '1990-01-01'"></mat-datepicker>
                        <mat-error *ngIf="form.get('birthDate').invalid" i18n="@@form.required">Obligatorisk</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Kjønn" i18n-placeholder="@@candidate.gender" formControlName="gender">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <mat-form-field [floatLabel]="'E-post-adresse'" required>
                        <input matInput type="email" formControlName="email" placeholder="E-post" i18n-placeholder="@@candidate.email">
                        <mat-error *ngIf="form.get('email').errors; let errors">
                            <ng-container *ngIf="errors.required; else emailInvalid" i18n="@@form.required"></ng-container>
                            <ng-template #emailInvalid i18n="@@form.invalid">Ugyldig</ng-template>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field [floatLabel]="'ORCID'">
                        <input matInput type="text" formControlName="orcid" placeholder="ORCID" i18n-placeholder="@@candidate.orcid">
                        <mat-error *ngIf="form.get('orcid').invalid" i18n="@@orcid.invalid">Skal være i formatet [http://orcid.org/]XXXX-XXXX-XXXX-XXXX</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card>
</div>
