<mat-form-field>
    <input matInput type="text" [formControl]="form" placeholder="Fornavn Etternavn" i18n-placeholder="@@author.name" required>
    <mat-error *ngIf="form.touched && form.invalid" i18n="@@form.required">Obligatorisk</mat-error>
</mat-form-field>

