extends layout

block content
    .ui.container
        .ui.basic.segment
            h1= name
            h2= status
            p= message
            if stack
                .ui.segment
                    .ui.header Stack trace
                    pre #{stack}
