<h2 i18n="@@deposition.review">Se gjennom</h2>
<mat-card *ngIf="thesis" class="summary">
    <h4>{{ thesis?.title }}</h4>
    <div class="aligned-with-icon" *ngIf="thesis?.publish">
        <mat-icon>check</mat-icon>
        <span *ngIf="thesis.publish !== 'byoth:doNotPublish'">
            <ng-container i18n="@@confirm.wantThesisInBora">Jeg vil publisere avhandlingen i BORA </ng-container>
            <ng-container *ngIf="thesis.license">
                <ng-container i18n="@@confirm.withLicense">med lisens </ng-container> <a alt="license url" [href]="thesis.license">{{thesis.license}}</a>
            </ng-container>
            <ng-container *ngIf="thesis.publish === 'byoth:publishWithEmbargo'">
                <ng-container i18n="@@confirm.withEmbargo"> etter en embargo-periode på {{ thesis.embargo }} måneder</ng-container>
            </ng-container>
            .
        </span>
        <span *ngIf="thesis.publish === 'byoth:doNotPublish'" i18n="@@confirm.doNotWantThesisInBora">
            Jeg vil <strong>ikke</strong> publisere avhandlingen i BORA.
        </span>
    </div>
</mat-card>
<h3 *ngIf="articles.length > 0" i18n="@@articles" class="mt-3">Artikler</h3>
<mat-card *ngFor="let article of articles" class="summary">
    <h4>{{ article.title }} ({{ article.publicationYear }})</h4>
    <div class="aligned-with-icon" *ngIf="article?.publish">
        <mat-icon>check</mat-icon>
        <span *ngIf="article.publish !== 'byoth:doNotPublish'">
            <ng-container i18n="@@confirm.wantArticleInBora">Jeg vil publisere artikkelen i BORA</ng-container>
            <ng-container *ngIf="article.publish === 'byoth:publishWithEmbargo'">
                <ng-container i18n="@@confirm.withEmbargo"> etter en embargo-periode på {{ article.embargo }} måneder</ng-container>
            </ng-container>.
        </span>
        <span *ngIf="article.publish === 'byoth:doNotPublish'" i18n="@@confirm.doNotWantArticleInBora">
            Jeg vil <strong>ikke</strong> publisere artikkelen i BORA.
        </span>
    </div>
</mat-card>

