<h5 i18n="@@article.authors">Forfattere</h5>
<div class="row align-items-center no-gutters" *ngIf="authorSubjects">
    <ng-container *ngFor="let author of authorSubjects; let i = index">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6" *ngIf="i < maxNumberAuthors">
            <div class="row no-gutters align-items-center">
                <app-article-author [subject]="author" class="col-10"></app-article-author>
                <button mat-icon-button
                    class="col-2 pr-3"
                    *ngIf="authorSubjects.length > 1"
                    aria-label="Slett forfatter"
                    i18n-aria-label="@@article.deleteAuthor"
                    (click)="removeAuthor(author)"><mat-icon>clear</mat-icon></button>
            </div>
        </div>
    </ng-container>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6 max-authors" *ngIf="authorSubjects.length >= maxNumberAuthors" i18n="@@articles.maxNumberAuthors">
        Viser bare de {{ maxNumberAuthors }} første forfatterne.
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-6">
        <button mat-raised-button
            [disabled]="authorSubjects.length >= maxNumberAuthors"
            (click)="addAuthor()"
            i18n="@@article.addAuthor">
            <mat-icon class="mr-1" aria-hidden="true">add</mat-icon>Legg til forfatter
        </button>
    </div>
</div>
