<h2 i18n="@@review">Se gjennom</h2>
<mat-card *ngIf="validationReport && !validationReport.valid" class="error-summary mat-elevation-z4">
    <h3 i18n="@@confirm.errors.header">
        Noen felt mangler eller har ugyldige verdier
    </h3>
    <p class="aligned-with-icon">
        <span i18n="@@confirm.errors.description">Du kan <strong>ikke</strong> bestille før disse feilene er rettet.</span>&nbsp;
        <span i18n="@@confirm.errors.lookfor">Se etter rød trekant i menyen</span>&nbsp;
        <mat-icon color="warn" aria-hide>report_problem</mat-icon>.
    </p>
    <ng-container *ngIf="devMode">
        <div *ngFor="let error of validationReport.errors" class="aligned-with-icon">
           <mat-icon color="warn">error_outline</mat-icon><span>{{error.dataPath}} {{ error.message }}</span>
        </div>
    </ng-container>
</mat-card>
<mat-card *ngIf="document" class="summary">
    <div class="aligned-with-icon">
        <mat-icon>check</mat-icon>
        <span>
            <ng-container i18n="@@confirm.wantToOrder">Jeg vil bestille </ng-container>
            <strong>{{ order?.offer?.quantity }}</strong>
            <ng-container i18n="@@confirm.copiesOfThesis"> eksemplarer av avhandlingen </ng-container>
            <strong>{{ document.thesis?.title + (document.thesis?.subtitle ? ': ' + document.thesis?.subtitle : '') }}</strong>
            <ng-container i18n="@@confirm.by"> av </ng-container>
            <strong>{{ document.candidate?.givenName + ' ' + document.candidate?.familyName }}</strong>.
        </span>
    </div>
    <ng-container *ngIf="order">
        <div *ngIf="order.coverPreviewAccepted" class="aligned-with-icon">
            <mat-icon>check</mat-icon>
            <span i18n="@@confirm.coverPreviewAccepted">Jeg har sett gjennom og godkjent omslaget.</span>
        </div>
        <div *ngIf="order.offer.printColor" class="aligned-with-icon">
            <mat-icon>check</mat-icon><span i18n="@@confirm.wantColor">Jeg ønsker fargetrykk.</span>
        </div>
        <div *ngIf="!order.offer.printColor" class="aligned-with-icon">
            <mat-icon>check</mat-icon><span i18n="@@confirm.doNotWantColor">Jeg ønsker <strong>ikke</strong> fargetrykk.</span>
        </div>
        <div *ngIf="order.offer.printProofs" class="aligned-with-icon">
            <mat-icon>check</mat-icon><span i18n="@@confirm.wantPrintedProofs">Jeg ønsker prøvetrykk.</span>
        </div>
        <div *ngIf="!order.offer.printProofs" class="aligned-with-icon">
            <mat-icon>check</mat-icon><span i18n="@@confirm.doNotWantPrintedProofs">Jeg ønsker <strong>ikke</strong> prøvetrykk.</span>
        </div>
    </ng-container>
    <div class="aligned-with-icon" *ngIf="document.thesis?.publish && isFinal">
        <mat-icon>check</mat-icon>
        <span *ngIf="document.thesis.publish !== 'byoth:doNotPublish'">
            <ng-container i18n="@@confirm.wantThesisInBora">Jeg vil publisere avhandlingen i BORA </ng-container>
            <ng-container *ngIf="document.thesis.license">
                <ng-container i18n="@@confirm.withLicense">med lisens </ng-container> <a alt="license url" [href]="document.thesis.license">{{document.thesis.license}}</a>
            </ng-container>
            <ng-container *ngIf="document.thesis.publish === 'byoth:publishWithEmbargo'">
                <ng-container i18n="@@confirm.withEmbargo"> etter en embargo-periode på {{ document.thesis.embargo }} måneder</ng-container>
            </ng-container>
            .
        </span>
        <span *ngIf="document.thesis.publish === 'byoth:doNotPublish'" i18n="@@confirm.doNotWantThesisInBora">
            Jeg vil <strong>ikke</strong> publisere avhandlingen i BORA.
        </span>
    </div>

</mat-card>

<mat-card *ngIf="validationReport && validationReport.valid && order?.offer.price" i18n="@@confirm.submit.description">
    Ved å klikke <strong>send bestilling</strong> nede godkjenner du ovenstående og prisen <strong>{{order.offer.price}}</strong>.
</mat-card>

<mat-spinner *ngIf="!validationReport"></mat-spinner>
