<div class="container">
    <div class="col col-lg-8">
        <h1>Bestilling sendt</h1>
        <h2>Trykking</h2>
        <p>
            Avhandlingen din er sendt til trykkeri og du vil få tilsendt ordrebekreftelse på e-post.
        </p>
        <ol>
            <li>
                Du må så selv sende ordrebekreftelsen til ditt institutts bestiller/innkjøp. Innkjøp vil da opprette et bestillingsnummer og sende dette til trykkeriet.  
            </li>
            <li>
                Trykkeriet starter ikke produksjon før de har mottatt bestillingsnummeret fra UiB.
            </li>
            <li *ngIf="isFinal">
                Trykkeriet ser igjennom filene og gjør filene trykkeklare.
                Trykkeriet lager enten et prøvetrykk eller en PDF-fil for gjennomlesing av deg mens de venter på bestillingsnummeret fra UiB.
            </li>
            <li *ngIf="!isFinal">
                Trykkeriet lager en PDF-fil for gjennomlesing av deg mens de venter på bestillingsnummeret fra UiB.
            </li>
            <li *ngIf="isFinal">
                Du ser gjennom prøvetrykket eller PDF-fil og sender tilbakemelding til trykkeriet.
                Straks prøvetrykket/PDF-fil er godkjent av deg, produserer trykkeriet avhandlingen og leverer avtalt antall kopier til avtalt adresse.  
            </li>
            <li *ngIf="!isFinal">
                Du ser gjennom PDF-fil og sender tilbakemelding til trykkeriet.
                Straks PDF-fileb er godkjent av deg, produserer trykkeriet avhandlingen og leverer avtalt antall kopier til avtalt adresse.
            </li>
            <li *ngIf="isFinal">
                Leveringstid vil variere ut fra hva slags materiell trykkeriet mottar og hvor fort trykkeriet mottar tilbakemelding på prøvetrykk eller PDF-fil.
                Produksjonstid fra godkjent PDF/prøvetrykk er 5 arbeidsdager.
                Ved kortere leveringstid tilkommer pristillegg.
            </li>
            <li *ngIf="!isFinal">
                Leveringstid vil variere ut fra hva slags materiell trykkeriet mottar og hvor fort trykkeriet mottar tilbakemelding på PDF-fil.
                Produksjonstid fra godkjent PDF er 5 arbeidsdager.
                Ved kortere leveringstid tilkommer pristillegg.
            </li>
        </ol>
        <p>
            Hvis du ønsker å trykke opp flere eksemplarer enn det obligatoriske antallet til disputaslokalet, kan du gjøre dette her (lenke).
            Ph.d.-kandidaten betaler selv for de ekstra eksemplarene.  
        </p>
        <p>
            [ Forklarende tekst om å angre bestilling/bestille flere kopi, gjøre om, etc ]
        </p>
        <p><button mat-raised-button (click)="cancelOrder()">Angre bestilling</button></p>
        <ng-container *ngIf="isFinal">
            <h2 class="mt-4">Deponering til BORA</h2>
            <ng-container *ngIf="publishThesis">
                <p>
                    <span *ngIf="isMonograph">
                        Du har valgt å gjøre avhandlingen din tilgjengelig i det åpne arkivet BORA.
                    </span>
                    <span *ngIf="!isMonograph">
                        Du har valgt å gjøre avhandlingen/kappen tilgjengelig i det åpne arkivet BORA.
                    </span>
                    <span *ngIf="!thesis.embargo">
                        Avhandlingen vil bli tilgjengelig i <a href="https://bora.uib.no" title="BORA" target="_blank">BORA</a> innen kort tid.
                    </span>
                    <span *ngIf="thesis.embargo">
                        Avhandlingen vil bli tilgjengelig i <a href="https://bora.uib.no" title="BORA" target="_blank">BORA</a> etter din ønskede embargotid.
                    </span>
                </p>
                <ng-container *ngIf="!isMonograph">
                    <p *ngIf="!isMonograph">
                        Hvis du har valgt å gjøre hele avhandlingen inkludert artikler tilgjengelig i BORA:
                        Universitetsbiblioteket sjekker gjennom rettigheter til artikler.
                        Aksepterte/publiserte vil kun bli lagt ut med tillatelse/lisens fra utgiver.
                    </p>
                    <p>
                        Hvis du vil gjøre tilgjengelig artikler som egne innførsler i BORA,
                        eller legge inn referanse og lenke til publiserte versjoner,
                        kan du gjøre det i dette i skjema <a [routerLink]="['/deposit']" fragment="2">Lever til BORA</a>.
                    </p>
                </ng-container>
            </ng-container>
            <p *ngIf="!publishThesis">
                Du har valgt å ikke gjøre din avhandling tilgjengelig i det åpne arkivet BORA.
                Du kan velge tilgjengelig i BORA nå eller på et senere tidspunkt i skjema <a [routerLink]="['/deposit']">Lever til BORA</a>,
                eller ved å kontakte <a href="mailto:bora@uib.no" title="Skriv til BORA">bora@uib.no</a>
            </p>
            <p><a mat-raised-button [routerLink]="['/deposit']">Oppdater status for BORA og/eller legg til artikler</a></p>
        </ng-container>
    </div>
</div>
