<div class="form-block">
    <div class="form-block-description">
        <h3 i18n="@@pressRelease.candidate.department">Institutt</h3>
    </div>
    <mat-card class="form-block-form">
        <form [formGroup]="form" class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-select formControlName="facultyId" placeholder="Velg fakultet" i18n-placeholder="@@pressRelease.candidate.selectFaculty">
                        <mat-option *ngFor="let faculty of faculties" [value]="faculty.id">
                            {{ getFacultyName(faculty) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-select formControlName="departmentId" placeholder="Velg institutt" i18n-placeholder="@@pressRelease.candidate.selectDepartment">
                        <mat-option *ngFor="let department of facultyDepartments; trackByDepartmentId" [value]="department.id">
                            {{ getDepartmentName(department) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </mat-card>
</div>
