<div class="form-block">
    <div class="form-block-description">
        <h3 i18n="@@license.article.copyrightAndLicense">Opphavsrett og lisens</h3>
        <p *ngIf="!isPublished" i18n="@@license.article.unpublished.description">
            Samme lisens vil gjelde for upubliserte artikler som den du valgte for kappen.
        </p>
        <p *ngIf="isPublished" i18n="@@license.article.publisehd.description">
            Aksepterte og publiserte artikler vil tilgjengeliggjøres med utgivers lisens.
        </p>
    </div>
    <mat-card class="form-block-form" [formGroup]="form">
        <div class="row align-items-center">
            <mat-radio-group formControlName="publish" [ngClass]="{error: form.get('publish').invalid}" class="col-sm-9">
                <mat-radio-button [value]="ifPossible" *ngIf="isPublished">
                    <span class="wrap-label" i18n="@@license.article.publishIfPossible">
                        Jeg vil gjøre artikkelen tilgjengelig i BORA under forutsetning at Universitetsbiblioteket sjekker rettigheter og legger på korrekt lisens og embargo.
                    </span>
                </mat-radio-button>
                <mat-radio-button [value]="withoutEmbargo" *ngIf="!isPublished">
                    <span class="wrap-label" i18n=@@license.article.publishWithoutEmbargo>
                        Jeg har godkjenning fra mine medforfattere og vil gjøre artikkelen tilgjengelig i BORA.
                    </span>
                </mat-radio-button>
                <mat-radio-button [value]="withEmbargo" *ngIf="!isPublished">
                    <span class="wrap-label" i18n=@@license.article.publishWithEmbargo>
                        Jeg har godkjenning fra mine medforfattere og vil gjøre artikkelen tilgjengelig i BORA etter en embargoperiode på 6 måneder til 5 år.
                    </span>
                </mat-radio-button>
                <mat-radio-button [value]="doNotPublish" i18n="@@document.license.doNotPublish">
                    <span class="wrap-label">Jeg ønsker kun å tilgjengeliggjøre referanse for artikkelen i BORA</span>.
                </mat-radio-button>
            </mat-radio-group>
            <mat-error class="col-sm-3" *ngIf="form.get('publish').invalid" i18n="@@form.selectOne">Velg en</mat-error>
        </div>
        <div *ngIf="canHaveEmbargo" class="row align-items-center mt-3">
            <div class="col-sm-4 col-md-2" i18n="@@document.embargo.withEmbargo">Med embargo:</div>
            <mat-form-field class="col-sm-4 col-md-3">
                <mat-select formControlName="embargo" placeholder="Velg periode" i18n-placeholder="@@deposit.embargo.selectPeriod">
                    <mat-option value="0" i18n="@@deposit.embargo.none">Ingen embargo</mat-option>
                    <mat-option value="6" i18n="@@deposit.embargo.6months">6 måneder</mat-option>
                    <mat-option *ngFor="let years of [1, 2, 3, 4, 5];" [value]="12 * years" i18n="@@deposit.embargo.years">{{years}} år</mat-option>
                </mat-select>
                <mat-hint *ngIf="isPublished" i18n="@@document.embargo.orWhatPublisherAllows">eller hva utgiver tillater</mat-hint>
            </mat-form-field>
        </div>
    </mat-card>
</div>
