<app-event-date *ngIf="hasDate" [service]="service" [showTime]="showTime"></app-event-date>
<app-event-location *ngIf="hasLocation" [service]="service"></app-event-location>
<mat-form-field *ngIf="hasTitle" [formGroup]="form">
    <input matInput formControlName="title" type="text" placeholder="Tittel" i18n-placeholder="@@event.title">
</mat-form-field>
