<div class="form-block">
    <div class="form-block-description">
        <h3 class="mt-3" i18n="@@article.reference">Referanse</h3>
        <p i18n="@@article.doi.description">
            Noe metadata fylles inn automatisk hvis du legger inn Digital Object Identifier (DOI).
            DOI gir også en stabil lenke til den publiserte versjonen av artikkelen.
            Du kan også fylle inn skjema manuelt.
        </p>
    </div>
    <mat-card class="form-block-form" [formGroup]="form">
        <ng-container *ngIf="!isUnpublished">
            <app-article-doi [service]="service" (gotReference)="setArticle($event)"></app-article-doi>
        </ng-container>
        <app-article-authors [service]="service"></app-article-authors>
        <mat-form-field>
            <input matInput type="text" formControlName="title" placeholder="Tittel" i18n-placeholder="@@article.title" required>
            <mat-error *ngIf="form.get('title').touched && form.get('title').invalid" i18n="@@form.required">Obligatorisk</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput matTextareaAutosize
                [matAutosizeMinRows]="6"
                name="article-abstract"
                formControlName="abstract"
                placeholder="Abstract"
                i18n-placeholder="@@article.abstract">
            </textarea>
        </mat-form-field>
        <ng-container *ngIf="!isUnpublished">
            <app-article-container [service]="service"></app-article-container>
        </ng-container>
        <div class="row">
            <mat-form-field class="col">
                <input matInput type="text" formControlName="publicationYear" placeholder="År" i18n-placeholder="@@article.year" required>
                <mat-error *ngIf="form.get('publicationYear').touched && form.get('publicationYear').invalid" i18n="@@form.required">Obligatorisk</mat-error>
            </mat-form-field>
            <ng-container *ngIf="!isUnpublished">
                <mat-form-field class="col">
                    <input matInput type="text" formControlName="volume" placeholder="Volum" i18n-placeholder="@@article.volume">
                </mat-form-field>
                <mat-form-field class="col">
                    <input matInput type="text" formControlName="issue" placeholder="Hefte" i18n-placeholder="@@article.issue">
                </mat-form-field>
                <mat-form-field class="col">
                    <input matInput type="text" formControlName="pageStart" placeholder="Første side" i18n-placeholder="@@article.firstPage">
                </mat-form-field>
                <mat-form-field class="col">
                    <input matInput type="text" formControlName="pageEnd" placeholder="Siste side" i18n-placeholder="@@article.lastPage">
                </mat-form-field>
                <mat-form-field class="col">
                    <input matInput type="text" formControlName="number" placeholder="Artikkel-nummer" i18n-placeholder="@@article.number">
                </mat-form-field>
            </ng-container>
        </div>
    </mat-card>
</div>
