<div class="form-block">
    <div class="form-block-description">
        <h3 i18n="@@article.chooseFile">Velg fil</h3>
        <p i18n="@@article.chooseFile.description1">Velg allerede opplastet fil eller last opp ny.</p>
        <p i18n="@@article.chooseFile.description2">
            Du kan laste opp ny versjon av artikler som blir tilgjengelig i BORA som egne innførsler.
        </p>
        <p i18n="@@article.chooseFile.description3">
            Den trykte og den digitale versjonen av avhandlingen vil ikke alltid være identiske.
            Dette beror på lisensbegrensninger hos utgivere.
        </p>
    </div>
    <mat-card class="form-block-form">
        <div class="row" *ngIf="!fileId">
            <mat-radio-group [formControl]="fileSourceForm" class="col-sm-6">
                <mat-radio-button [value]="true">
                    <span class="wrap-label" i18n="@@article.uploadSeparateFile">Jeg ønsker å laste opp fil for denne artikkelen.</span>
                </mat-radio-button>
                <mat-radio-button [value]="false">
                    <span class="wrap-label" i18n="@@article.linkToFile">Jeg ønsker å knytte til allerede opplastet fil for denne artikkel.</span>
                </mat-radio-button>
            </mat-radio-group>
            <mat-form-field [formGroup]="form" *ngIf="uploadFile === false" class="col-sm-5">
                <mat-select formControlName="inFile" placeholder="Velg fil" i18n-placeholder="@@article.file.select">
                    <mat-option *ngFor="let file of inputFiles" [value]="file['@id']">{{ file.filename }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="uploadFile === true" class="col-sm-5">
                <button type="button" mat-raised-button color="primary" (click)="selectFile.click()" i18n="@@article.file.upload">Last opp fil</button>
                <input type="file" hidden appFileSelect [service]="fileService" [accepts]="['application/pdf']" #selectFile>
            </div>
        </div>
        <ng-container *ngIf="fileId">
            <p><strong>{{ filename }}</strong></p>
            <button mat-raised-button (click)="deleteFile()" i18n="@@article.replaceFile">Velg annen fil</button>
        </ng-container>
    </mat-card>
</div>
