<h2 i18n="@@thesis.cover">Godkjenn omslag</h2>
<mat-card class="preview">
    <div class="row justify-content-around" *ngIf="thumbnails.length > 0">
        <div class="col-auto" *ngFor="let thumbnail of thumbnails; let index = index;" class="thumbnail">
            <a target="_blank" rel="noopener noreferrer" [href]="downloadUrl + '#page=' + (index + 1)">
                <img src="data:image/png;base64,{{thumbnail}}" alt="thumbnail" style="height: 320px; width: auto">
            </a>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="thumbnails.length === 0">
        <div class="col" class="thumbnail" style="height: 320px; width: 200px;">
            <mat-spinner style="margin-left: -15px; margin-top: -30px; position: absolute; top: 50%; left: 50%; height: 30px;" [diameter]="30"></mat-spinner>
        </div>
    </div>
    <div class="view-pdf-button" *ngIf="thumbnails.length > 0">
        <a mat-raised-button target="_blank" rel="noopener noreferrer" [href]="downloadUrl" class="align-with-icon">
            <mat-icon aria-hidden>search</mat-icon>&nbsp;
            <span i18n="@@cover.preview.openPDF">Se gjennom omslaget som PDF</span>
        </a>
    </div>
</mat-card>
<mat-card [ngClass]="{error: form.invalid}">
    <form [formGroup]="form">
        <mat-checkbox formControlName="coverPreviewAccepted" i18n="@@thesis.cover.approve">Jeg godkjenner omslaget.</mat-checkbox>
    </form>
</mat-card>
