<div class="container">
    <div class="row justify-content-center">
        <div class="col col-xl-6 col-md-8" #contents id="welcome-contents">
        </div>
        <div class="d-none d-sm-block col-sm-4 col-lg-3">
            <mat-nav-list class="menu">
                <a mat-list-item *ngFor="let item of items" (click)="scrollTo(item.target)" [ngClass]="{ active: item.active }">{{item.label}}</a>
            </mat-nav-list>
        </div>
    </div>
</div>
