div.container {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: black;
    border-left: 2px solid #f5f5f5;
}

a.active {
    font-weight: bold;
    border-left: 2px solid black;
}

.menu {
    position: fixed;
}

