@import "~variables.scss";

button.prev {
    margin-right: 0.5rem;
    padding-left: 0.5rem;
}
button.next {
    padding-right: 0.5rem;
}
mat-toolbar {
    position:fixed;
    left:0px;
    bottom:0px;
    background-color: $byoth-light-grey;
}

mat-horizontal-stepper {
    padding-bottom: 80px;
}

.container {
    margin-top: 0
}
