<mat-horizontal-stepper [linear]="false" (selectionChange)="onSelection($event)" #stepper>
    <ng-template matStepperIcon="edit"><mat-icon>check</mat-icon></ng-template>
    <ng-template matStepperIcon="done"><mat-icon>check</mat-icon></ng-template>
    <mat-step *ngFor="let step of steps; let i = index; let last = last;"
        [label]="step.label[locale]"
        [aria-label]="step.label[locale]"
        [hasError]="hasError[i]">
        <app-form-step-wrapper [type]="step.type" [options]="step.options" [bottomToolbarHost]="bottomToolbarHost"></app-form-step-wrapper>
    </mat-step>
</mat-horizontal-stepper>
<mat-toolbar>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto d-none d-md-block">
                <button mat-raised-button (click)="stepper.previous()" [disabled]="stepper.selectedIndex === 0" class="prev">
                    <mat-icon aria-hidden="true">keyboard_arrow_left</mat-icon><ng-container i18n="@@stepper.previous">Forrige</ng-container>
                </button>
            </div>
            <div class="col-auto d-block d-md-none">
                <button mat-icon-button (click)="stepper.previous()" [disabled]="stepper.selectedIndex === 0" class="prev">
                    <mat-icon aria-hidden="true">keyboard_arrow_left</mat-icon><ng-container i18n="@@stepper.previous"></ng-container>
                </button>
            </div>
            <div class="col-auto d-md-block d-none" *ngIf="info$ | async">
                <button mat-button [disabled]="true">{{ info$ | async }}</button>
            </div>
            <div class="col-auto ml-auto">
                <div class="row justify-contents-right">
                    <div class="col-auto"><ng-template appFormStepperToolbarHost></ng-template></div>
                    <ng-container *ngIf="stepper.selectedIndex < steps.length - 1">
                        <div class="col-auto d-none d-md-block">
                            <button mat-raised-button (click)="stepper.next()" class="next">
                                <ng-container i18n="@@stepper.next">Neste</ng-container><mat-icon aria-hidden="true">keyboard_arrow_right</mat-icon>
                            </button>
                        </div>
                        <div class="col-auto d-block d-md-none">
                            <button mat-icon-button (click)="stepper.next()" class="next">
                                <ng-container i18n="@@stepper.next"></ng-container><mat-icon aria-hidden="true">keyboard_arrow_right</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>
