<h2 *ngIf="files.length" i18n="@@files.heading">Last opp og valider filer</h2>
<div class="form-block">
    <div class="form-block-description">
        <h3 i18n="@@files.upload">Last opp filer</h3>
        <p i18n="@@files.upload.description">
            Last opp avhandlingen som en eller flere filer.
            Trykkeriet vil sy sammen til én fil dersom du laster opp enkeltfiler, husk da å sørge for at de ligger i riktig rekkefølge.
        </p>
    </div>
    <div class="form-block-form">
        <mat-card appFileDrop class="upload-box" [service]="fileService" [accepts]="['application/pdf']">
            <p i18n="@@files.dragPDFHere">Dra og slipp PDF-filer her</p>
            <p i18n="@@files.or">Eller</p>
            <p>
                <button type="button" mat-raised-button color="primary" (click)="selectFile.click()" i18n="@@files.choose">Velg filer</button>
                <input type="file" hidden multiple appFileSelect [service]="fileService" [accepts]="['application/pdf']" #selectFile>
            </p>
        </mat-card>
    </div>
</div>
<div *ngIf="files.length || emptyFiles.length" class="form-block file-list">
    <div class="form-block-description">
        <h3 i18n="@@files.files">Filer</h3>
        <p i18n="@@files.dragAndDrop">Dra og slipp for å endre rekkefølge.</p>
    </div>
    <div cdkDropList class="form-block-form" (cdkDropListDropped)="dropFile($event)">
        <div *ngFor="let file of files; let i = index;" [class]="'file-item ' + fileCss(file)" cdkDrag [cdkDragDisabled]="reordering">
            <mat-card class="file" [ngClass]="{ disabled: reordering }">
                <div class="header">
                    <button mat-icon-button>
                        <mat-icon class="reorder">menu</mat-icon>
                    </button>
                    <div class="description">
                        <div class="filename">{{ file.filename }}</div>
                        <div class="pagecount" *ngIf="file.status">
                            {{ file.numPages }} <span i18n="@@files.pages">sider</span>
                            ({{ file.numColorPages }} <span i18n="@@files.inColor">i farge</span>)
                        </div>
                    </div>
                    <div class="actions">
                        <button mat-button (click)="replaceFile.click()" class="replace-file" i18n="@@file.replace">
                            Erstatt
                        </button>
                        <input type="file" hidden multiple appFileSelect [service]="replaceFileService(file)" [accepts]="['application/pdf']" #replaceFile>
                        <a mat-icon-button
                            [href]="fileUrl(file['@id']) | async"
                            target="_blank"
                            rel="noopener noreferrer"
                            [attr.aria-label]="'download ' + file.name">
                            <mat-icon aria-hidden="true" color="primary">search</mat-icon>
                        </a>
                        <button mat-icon-button (click)="deleteFile(file)" [attr.aria-label]="'delete ' + file.name" [disabled]="validating">
                            <mat-icon aria-hidden="true" [color]="validating ? '' : 'warn'">delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="validation">
                    <div class="status">
                        <div *ngIf="uploaderror" selected="true" class="aligned-with-icon"><mat-icon class="error">error</mat-icon> {{ uploaderror }}</div>
                        <div *ngIf="file.status === fileOk" class="aligned-with-icon">
                            <mat-icon>check</mat-icon>
                            <span i18n="@@file.OK">Filen er OK</span>
                        </div>
                        <div *ngIf="file.status === fileError" class="aligned-with-icon">
                            <mat-icon>error</mat-icon>
                            <span *ngIf="file.hasValidationReport" i18n="@@file.hasErrorsAndMustBeReplaced">Filen har feil og må erstattes</span>
                            <span *ngIf="!file.hasValidationReport" i18n="@@file.uploadFailed">Filopplasting/validering mislykkedes</span>
                        </div>
                        <div *ngIf="file.status === fileWarning" class="aligned-with-icon">
                            <mat-icon class="warning">warning</mat-icon>
                            <span i18n="@@file.hasWarnings">Filen har mindre feil</span>
                        </div>
                    </div>
                    <div *ngIf="file.hasValidationReport">
                        <a mat-button
                            [href]="fileUrl(file.hasValidationReport) | async"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="aligned-with-icon">
                            <mat-icon>assignment</mat-icon>
                            <span i18n="@@files.seeReport">Se rapport fra trykkeriet</span>
                        </a>
                    </div>
                </div>
            </mat-card>
        </div>
        <div *ngFor="let file of emptyFiles">
            <mat-card class="file-item">
                <mat-spinner [diameter]="20"></mat-spinner>
            </mat-card>
        </div>
    </div>
</div>
<div class="form-block" *ngIf="files.length > 0">
    <div class="form-block-description">
        <h3 i18n="@@files.validate">Validering</h3>
        <p i18n="@@files.validate.description">
            Når du har lastet opp alle filer må de sendes til trykkeriet for validering.
            Trykkeriet vil teste om de holder høy nok kvalitet for å trykkes og du vil få en feilrapport hvis ikke.
            En sammenslått PDF genereres også for gjennomsyn.
        </p>
        <p i18n="@@files.validate.description2">
            Hvis du endrer rekkefølge, eller sletter/erstatter/laster opp nye filer må valideringen gjøres om igjen.
        </p>
    </div>
    <div class="form-block-form">
        <mat-card *ngIf="!validating">
            <p *ngIf="hasUnsubmittedFiles()" class="error aligned-with-icon">
                <mat-icon>warning</mat-icon>
                <span i18n="@@files.filesMustBeValidated">Alle filer må sendes til validering</span>
            </p>
            <ng-container *ngIf="!hasUnsubmittedFiles()">
                <h3 i18n="@@files.validationResults">Resultat</h3>
                <p *ngIf="contentPdfUrl">
                    <a mat-raised-button
                        target="_blank"
                        rel="noopener noreferrer"
                        [href]="contentPdfUrl"
                        class="aligned-with-icon"
                        i18n="@@files.openContentPreview">
                        <mat-icon>search</mat-icon>
                        Se gjennom sammenslått pdf
                    </a>
                </p>
                <p i18n="@@files.allAnalyzed" class="aligned-with-icon">
                    <mat-icon aria-hide>check</mat-icon> Alle filer er analysert.
                </p>
                <p class="aligned-with-icon">
                    <mat-icon aria-hide>assessment</mat-icon>
                    <span i18n="@@files.filesRecevied">
                        Har mottatt {{ files.length }} fil(er)
                    </span>
                    <span i18n="@@files.pageCount" *ngIf="thesis">
                        &nbsp;med totalt {{ thesis.numPages }} sider og {{ thesis.numColorPages }} fargesider.
                    </span>
                </p>
                <p *ngIf="numErrors()" class="aligned-with-icon">
                    <mat-icon color="warn">error</mat-icon>
                    <ng-container *ngIf="!numWarnings()" i18n="@@files.thereAreErrors">
                        Det er noen feil som må rettes.
                    </ng-container>
                    <ng-container *ngIf="numWarnings()" i18n="@@files.bothErrorsAndWarnings">
                        Der er noen feil som må rettes og noen mindre feil, som muligens må rettes.
                    </ng-container>
                    <ng-container i18n="@@files.checkReportsAndCorrect">
                        Se rapportene for de individuelle filene og last opp korrigerte filer.
                    </ng-container>
                    <ng-container i18n="@@files.contactPrintshopForHelp">
                        Ta kontakt med trykkeriet hvis du trenger hjelp.
                    </ng-container>
                </p>
                <p *ngIf="!numErrors() && numWarnings()" class="aligned-with-icon">
                    <mat-icon class="warning">warning</mat-icon>
                    <ng-container i18n="@@files.thereAreWarnings">
                        Der er noen mindre feil som kanskje må rettes.
                    </ng-container>
                    <ng-container i18n="@@files.checkReportsAndMaybeCorrect">
                        Se rapportene for de individuelle filene og korriger hvis nødvendig.
                    </ng-container>
                    <ng-container i18n="@@files.contactPrintshopForHelp">
                        Ta kontakt med trykkeriet hvis du trenger hjelp.
                    </ng-container>
                </p>
            </ng-container>
            <p>
                <button mat-raised-button
                    color="primary"
                    (click)="submitFiles()"
                    i18n="@@files.sendToPrintshop"
                    class="validate col-auto">
                    Send filer til validering
                </button>
            </p>
        </mat-card>
        <mat-card *ngIf="validating" class="validation-spinner">
            <mat-spinner [diameter]="40" ></mat-spinner>
            <p i18n="@@file.validating.canTakeAWhile" style="padding-top: 40px">Dette kan ta en stund</p>
        </mat-card>
    </div>
</div>
