@import "~variables.scss";

.upload {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

mat-card.upload-box {
    border-style: solid;
    border-width: 1px;
    border-color: #d5d5d5;
    border-radius: 4px;
    padding: 2rem;
    width: 100%;
    vertical-align: center;
    text-align: center;
}

mat-card.validation-spinner {
    padding: 2rem;
    width: 100%;
    vertical-align: center;
    text-align: center;
}

mat-card.disabled {
    color: $byoth-light-grey;
}

.upload-box.rejected {
    background-color: mat-color($byoth-warn);
}

.upload-box.file-over {
    background-color: #bbbbbb;
}

.error {
    color: mat-color($byoth-warn);
}

.warning {
    color: mat-color($byoth-accent);
}

.form-block.file-list {
    margin: 1rem 0;
}

mat-spinner {
    display: inline;
    margin-right: 25px;
}

button.validate {
    margin-bottom: 1rem;
}

.file-red mat-card {
    border: 1px solid $byoth-red;
    background: lighten($byoth-red, 30);
    button.replace-file {
        background: $byoth-red;
        color: white;
        margin-right: 0.5rem;
    }
}

.file-yellow mat-card {
    border: 1px solid $byoth-yellow;
    background: lighten($byoth-yellow, 30);
}

.file-green mat-card {
    border: 1px solid $byoth-green;
    background: lighten($byoth-green, 30);
}

.file {
    .header {
        display: flex;
        align-items: baseline;
        .reorder {
            padding-right: 2rem;
        }
        .description {
            flex-grow: 1;
            .filename {
            }
            .pagecount {
                font-size: 90%;
                color: #555;
            }
        }
        .actions {
            min-width: 80px;
            text-align: right;
        }
    }
    .validation {
        margin-top: 0.5 rem;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .status {
            padding: 1rem;
            font-weight: bold;
        }
    }
}

@media (max-width: 600px) {
    .file .validation {
        display: block;
    }
}

