@import "~variables.scss";

mat-toolbar {
    background-color: mat-color($byoth-warn);
    color: white;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-wrap: nowrap;
}

#desktop-menu {
    display: none
}

#actions {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

@media all and (min-width: 1000px) {
    #desktop-menu {
        display: block;
        padding-left: 15px;
    }
    #mobile-menu {
        display: none
    }
}

.active-link {
    background-color: white;
    color: black;
}

button.toggle-language {
    background: none;
    border: none;
}

i {
    font-size: 1.1rem;
}

.home-button {
    margin-left: -1rem;
    margin-right: 0.5rem;
}

.name {
    white-space: normal;
    text-align: center;
    line-height: 14px;
    margin-right: 1rem;
    span {
        font-size: 0.9rem;
    }
}

@media all and (max-width: 500px) {
    .name {
        display: none;
    }
}
