<nav>
    <mat-toolbar class="row justify-content-between">
        <div id="desktop-menu" aria-label="Hovedmeny" i18n-aria-label="@@toolbar.mainMenu" role="menubar">
            <button mat-icon-button [routerLink]="['']" class="home-button" role="menuitem" aria-label="Hjem" i18n-aria-label="@@toolbar.home"><mat-icon>home</mat-icon></button>
            <button mat-button [routerLink]="['thesis', 'final']" routerLinkActive="active-link" i18n="@@toolbar.submitApprovedThesis" role="menuitem">
                Lever godkjent avhandling
            </button>
            <button mat-button [routerLink]="['press-release']" routerLinkActive="active-link" i18n="@@toolbar.submitPressRelease" role="menuitem">
                Lever pressemelding
            </button>
            <button mat-button [routerLink]="['thesis', 'committee']" routerLinkActive="active-link" i18n="@@toolbar.printForCommittee" role="menuitem">
                Trykk bedømmelseseksemplar
            </button>
            <button mat-button [routerLink]="['deposit']" routerLinkActive="active-link" i18n="@@toolbar.deposit" role="menuitem">
                Lever til BORA
            </button>
        </div>
        <div id="mobile-menu">
            <button mat-icon-button [matMenuTriggerFor]="toolbarMenu" aria-label="Alternativ"><mat-icon>menu</mat-icon></button>
            <mat-menu #toolbarMenu="matMenu">
                <button mat-menu-item [routerLink]="['']" aria-label="@@toolbar.home">Hjem</button>
                <button mat-menu-item [routerLink]="['thesis', 'final']" i18n="@@toolbar.submitApprovedThesis">
                    Lever godkjent avhandling
                </button>
                <button mat-menu-item [routerLink]="['press-release']" i18n="@@toolbar.submitPressRelease">
                    Lever pressemelding
                </button>
                <button mat-menu-item [routerLink]="['thesis', 'committee']"  i18n="@@toolbar.printForCommittee">
                    Trykk komite-eksemplarer
                </button>
                <button mat-menu-item [routerLink]="['deposit']"  i18n="@@toolbar.deposit">
                    Lever til BORA
                </button>
            </mat-menu>
        </div>
        <div id="actions" aria-label="Handlinger" i18n-aria-label="@@toolbar.actions">
            <div class="name" *ngIf="user$ | async">
                <span>{{ (user$ | async)?.name }}</span>
            </div>
            <div>
                <ng-container *ngIf="user$ | async">
                    <button mat-icon-button (click)="openHelp()" aria-label="Hjelp" i18n-aria-label="@@toolbar.help"><mat-icon>help</mat-icon></button>
                    <button mat-button (click)="save()" i18n="@@toolbar.save">Lagre</button>
                    <button mat-button (click)="logout()" i18n="@@logOut" id="logout">Logg ut</button>
                    <button mat-icon-button (click)="delete()" *ngIf="devmode" aria-label="slett alle data" i18n-aria-label="@@toolbar.deleteAllData">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>
                <button *ngIf="!(user$ | async)" mat-button (click)="login()" i18n="@@logIn" id="login">Logg inn</button>
                <button (click)="toggleLanguage()" aria-label="Toggle language" class="toggle-language">
                    <i class="flag-icon" [ngClass]="{'flag-icon-gb': !langIsEnglish, 'flag-icon-no': langIsEnglish}"></i>
                </button>
            </div>
        </div>
    </mat-toolbar>
</nav>
