<h2 i18n="@@deposit.heading">Deponer i forskningsarkivet BORA</h2>
<p>
    <span i18n="@@deposit.description">
        Her kan du deponere din doktorgradsavhandling til det åpne forskningsarkivet Bergen Open Research Archive (BORA).
    </span>
    <span *ngIf="!isMonograph && inPrintForm" i18n="@@deposit.article.later">
        Hvis du vil deponere artiklene i avhandlingen også, kan du gjøre det etter at avhandlingen er sendt inn.
    </span>
</p>
<form [formGroup]="form">
    <div class="form-block">
        <div class="form-block-description">
            <h3 i18n="@@deposit.publishing">Digital tilgjengeliggjøring</h3>
            <p *ngIf="isMonograph" i18n="@@deposit.publishing.monograph">Digital tilgjengeliggjøring av avhandlingen i BORA.</p>
            <p *ngIf="!isMonograph" i18n="@@deposit.publishing.introduction">Digital tilgjengeliggjøring av kappen (den sammenbindende fremstillingen) i BORA.
            <p *ngIf="!isMonograph && !inPrintForm" i18n="@@deposit.publishing.referToArticles">På neste side tar du valg for artikler i avhandlingen.</p>
            <p *ngIf="!isMonograph && inPrintForm" i18n="@@deposit.publishing.referToArticles">Etter at du har sendt inn avhandlingen til trykking kan du ta valg for artikler.</p>
        </div>
        <div class="form-block-form">
            <mat-card>
                <div class="row align-items-center">
                    <mat-radio-group formControlName="publish" class="col-md-9 col-lg-10" [ngClass]="{error: hasError('publish')}">
                        <mat-radio-button [value]="withoutEmbargo">
                            <span class="wrap-label" i18n="@@deposit.thesis.publishThesisWithoutEmbargo" *ngIf="isMonograph">Jeg velger å gjøre avhandlingen tilgjengelig i BORA.</span>
                            <span class="wrap-label" i18n="@@deposit.thesis.publishIntroductionWithoutEmbargo" *ngIf="!isMonograph">Jeg velger å gjøre kappen tilgjengelig i BORA.</span>
                        </mat-radio-button>
                        <mat-radio-button [value]="withEmbargo">
                            <span class="wrap-label" i18n="@@deposit.thesis.publishWithEmbargo" *ngIf="isMonograph">
                                Jeg velger å gjøre avhandlingen tilgjengelig i BORA etter en embargo-periode på 6 måneder til 5 år (velg nede).
                            </span>
                            <span class="wrap-label" i18n="@@deposit.thesis.publishIntroductionWithEmbargo" *ngIf="!isMonograph">
                                Jeg velger å gjøre kappen tilgjengelig i BORA etter en embargo-periode på 6 måneder til 5 år (velg nede).
                            </span>
                        </mat-radio-button>
                        <mat-radio-button [value]="dontPublish">
                            <span class="wrap-label" i18n="@@deposit.thesis.doNotPublish" *ngIf="isMonograph">
                                Jeg ønsker ikke å gjøre avhandlingen tilgjengelig i BORA (jeg tar senere kontakt på bora@uib.no dersom jeg angrer meg).
                            </span>
                            <span class="wrap-label" i18n="@@deposit.thesis.doNotPublishIntroduction" *ngIf="!isMonograph">
                                Jeg ønsker ikke å gjøre kappen tilgjengelig i BORA (jeg tar senere kontakt på bora@uib.no dersom jeg angrer meg).
                            </span>
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error class="col-md-3 col-lg-2" *ngIf="hasError('publish')" i18n="@@form.selectOne">Velg en</mat-error>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="form-block" *ngIf="!this.form.get('embargo').disabled">
        <div class="form-block-description">
            <h3 i18n="@@deposit.embargo">Embargo</h3>
            <ng-container *ngIf="!isMonograph">
                <p i18n="@@deposit.articles.embargo.qualification">Embargovalg gjelder ikke for artikler i avhandlingen.</p>
            </ng-container>
        </div>
        <div class="form-block-form">
            <mat-card>
                <div class="row align-items-center">
                    <div class="col-auto" i18n="@@deposit.embargo.makeThesisAvailableAfter" *ngIf="isMonograph">Gjør avhandlingen tilgjengelig etter</div>
                    <div class="col-auto" i18n="@@deposit.embargo.makeIntroductionAvailableAfter" *ngIf="!isMonograph">Gjør kappen tilgjengelig etter</div>
                    <div class="col-sm-3 col-md-2">
                        <mat-form-field>
                            <mat-select formControlName="embargo" placeholder="Velg periode" i18n-placeholder="@@deposit.embargo.selectPeriod">
                                <mat-option [value]="6" i18n="@@deposit.embargo.6months">6 måneder</mat-option>
                                <mat-option *ngFor="let years of [1, 2, 3, 4, 5];" [value]="12 * years" i18n="@@deposit.embargo.years">{{years}} år</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="form-block" *ngIf="!this.form.get('license').disabled">
        <div class="form-block-description">
            <h3 i18n="@@thesis.license">Lisens</h3>
            <p *ngIf="!isMonograph" i18n="@@deposit.articles.qualification">Lisensen gjelder ikke for artikler i avhandlingen.</p>
            <button mat-button (click)="openHelp()" class="aligned-with-icon">
                <mat-icon aria-hide>help</mat-icon>
                <span i18n="@@license.terms">Se vilkår for lisensen</span>
            </button>
        </div>
        <div class="form-block-form">
            <mat-card>
                <div class="row align-items-center">
                    <mat-radio-group formControlName="license" class="col-md-9 col-lg-10" [ngClass]="{error: hasError('license')}">
                        <mat-radio-button value="http://rightsstatements.org/page/InC/1.0/">
                            <span class="wrap-label" i18n="@@thesis.license.allRightsReserved">
                                Alle rettigheter beholdes (<a href="http://rightsstatements.org/page/InC/1.0/" title="In Copyright" target="_blank">InCopyright</a>)
                                innenfor de rammer som <a href="https://lovdata.no/dokument/NL/lov/2018-06-15-40">lov om opphavsrett til åndsverk</a> gir.
                                Verket kan brukes, det vil si vises til, lenkes til, siteres fra, skrives ut og lastes ned kun til personlig bruk.
                                Forfatter beholder opphavsrett.
                            </span>
                        </mat-radio-button>
                        <mat-radio-button value="https://creativecommons.org/licenses/by/4.0/">
                            <span class="wrap-label" i18n="@@thesis.license.CCBY">
                                Fri bruk (<a href="https://creativecommons.org/licenses/by/4.0/deed.no">CC-BY</a>):
                                Verket kan deles, endres og bearbeides så lenge det krediteres korrekt.
                                Forfatter beholder opphavsrett.
                            </span>
                        </mat-radio-button>
                        <mat-radio-button value="https://creativecommons.org/licenses/by-nc-nd/4.0/">
                            <span class="wrap-label" i18n="@@thesis.license.CCBYNC">
                                Ikke-kommersiell bruk (<a href="https://creativecommons.org/licenses/by-nc/4.0/deed.no">CC-BY-NC</a>):
                                Verket kan deles, endres og bearbeides så lenge det krediteres korrekt og ikke brukes til kommersielle formål.
                                Forfatter beholder opphavsrett.
                            </span>
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error class="col-md-3 col-lg-2" *ngIf="hasError('license')" i18n="@@form.selectOne">Velg en</mat-error>
                </div>
            </mat-card>
        </div>
    </div>
</form>
