<h2 i18n="@@thesis.about">Om avhandlingen</h2>
<p *ngIf="!isFinal" i18n="@@thesis.evaluation.description">
    Her kan du valgfritt bestille trykkekopier av din avhandling til bedømmelseskomiteen.
    Dette kommer i tillegg til de versjonene du bestiller til disputas.
    Noen institutt ved UiB sender ut digital fil til bedømmelseskomiteen, og bestilling av trykt kopi vil da ikke være aktuelt.
    Hør med ditt institutt hva som er rutinene hos dere.
</p>
<app-candidate [orderType]="options?.orderType"></app-candidate>
<div class="form-block" *ngIf="hasDefense">
    <div class="form-block-description">
        <h3 i18n="@@thesis.defense">Disputasdato</h3>
    </div>
    <div class="form-block-form">
        <mat-card>
            <app-event [hasLocation]="false" [showTime]="false" [service]="container.defense" *ngIf="defense"></app-event>
        </mat-card>
    </div>
</div>
<app-thesis [orderType]="options?.orderType"></app-thesis>
