<button mat-raised-button color="primary" *ngIf="!submitting" (click)="submitOrder()" [disabled]="!valid" i18n="@@order.submit">
    Send bestilling
</button>
<mat-spinner *ngIf="submitting" [diameter]="20"></mat-spinner>
