<app-form-stepper *ngIf="(hasSubmittedAlready$ | async) === false" [steps]="steps" [saveFunction]="saveFunction"></app-form-stepper>
<app-after-submission *ngIf="(hasSubmittedAlready$ | async) === true" [orderType]="orderType"></app-after-submission>
