<form  [formGroup]="dropdownForm" class="row">
    <mat-form-field class="col">
        <mat-select name="event-select-area"
            formControlName="area"
            placeholder="Velg område"
            i18n-placeholder="@@event.location.selectArea">
            <mat-option *ngFor="let area of areas" [value]="area">{{ area.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="col">
        <mat-select name="event-select-building"
            formControlName="building"
            placeholder="Velg bygning"
            i18n-placeholder="@@event.location.selectBuilding">
            <mat-option *ngFor="let building of buildings" [value]="building">{{ building.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="col">
        <mat-select name="event-select-room"
            formControlName="room"
            placeholder="Velg rom"
            i18n-placeholder="@@event.location.selectRoom">
            <mat-option *ngFor="let room of rooms" [value]="room">{{ room.name }}</mat-option>
        </mat-select>
    </mat-form-field>
</form>
<form  [formGroup]="form" class="row">
    <mat-form-field class="col" formGroupName="location">
        <input matInput class="text"
            formControlName="name"
            placeholder="Plass (velg ovenfor eller skriv hva du vil)"
            i18n-placeholder="@@event.location">
    </mat-form-field>
</form>
